#grocerylist {
  display: none;
}

.jumbotron {
  background-color: #cdf6fa;
  color: #333830;
}

.card {
  padding: 25px;
  background-color: #cdf6fa;
  color: #333830;
}

.btn {
  width: 100%;
  background-color: white;
  color: black;
}
